* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home {
  height: 100vh;
  background: url("/assets/home/background-home-desktop.jpg");
  background-position: center;
  background-size: cover;
}
