#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home {
  width: 100%;
  background: url("/assets/home/background-home-desktop.jpg");
  background-position: center;
  background-size: cover;
}
