@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-navBarBg {
      background-color: rgba(0, 0, 0, 0.7); /* Or any custom background color */
    }
  
    .bg-navBarResp {
      background-color: rgba(0, 0, 0, 0.9); /* Transparent bg for responsive nav */
    }
  }

.route-enter {
  opacity: 0;
  transform: translateY(20px);
}

.route-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.route-exit {
  opacity: 1;
}

.route-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

  